{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- boostrap css -->
    <link type="text/css" rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
</head>

<body class="bob" style="background-color: #9d85e0bd;">
    <br>
    <div id="app">

        <div class="container" id="addArticleModal" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div><br><br><br>
                <div class="align-items-center">
                    <div class="logintitle" style="text-align: center;">
                        <h1 class="" id="exampleModalLongTitle" style="color: black; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Login!</h5>
                    </div>

                    <div class="formcss">
                        <img src="https://img.icons8.com/clouds/2x/login-rounded-right.png" class="img" alt="LOGIN">
                        <form v-on:submit.prevent="addArticle()" class="col-sm-12 my-auto form1 ">
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="text" style="text-align: center;" class="form-control" id="todo_title" placeholder="Username" v-model="newArticle.username" required="required">
                                </div>

                                <div class="form-group">
                                    <input type="password" style="text-align: center;" class="form-control" id="todo_title" placeholder="Password" v-model="newArticle.password" required="required">
                                </div>
                            </div>
                            <div v-if="feedback">
                                <p style="color: white;">Invalid username or password</p>
                            </div>
                            <div class="submitbutton">
                                <button type="submit" class="btn btn-primary">LOGIN</button>
                            </div>
                        </form>
                        <div class="loading" v-if="loading===true">Loading&#8230;</div>

                    </div>


                </div>

            </div>
            <br>

            <a v-on:click='registerpage()'>
                <p class="submitbutton reglink">Don't have an account?</p>
            </a>
            <div class="loading" v-if="loading===true">Loading&#8230;</div>

        </div>
        <div class="loading" v-if="loading===true">Loading&#8230;</div>
    </div>
    <script type="text/javascript">
        Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";

        new Vue({
            el: '#app',
            delimiters: ['${', '}'],
            data: {
                loading: false,
                articles: [],
                currentArticle: {},
                message: null,
                newArticle: {
                    'username': null,
                    'password': null
                },
                token: null,
                feedback: false,
            },
            mounted: function() {
                if (localStorage.getItem('token') === null) {
                    console.log('Not Logged In')

                } else {

                    window.location.href = '/index/'

                }
            },

            methods: {

                registerpage: function() {
                    window.location.href = '/register/'
                },
                addArticle: function() {
                    this.$http.post('/api/login/', this.newArticle)
                        .then((response) => {

                            this.token = response.data.token
                            localStorage.setItem('token', this.token)

                            window.location.href = '/index'


                        })
                        .catch((err) => {
                            this.feedback = true;
                            console.log(err);
                        })
                },
            }
        });
    </script>
</body>

</html>